.dom{
    border: 2px double black;
    max-width: 900px;
    overflow: scroll;
    height: 200px;
    margin-top: 20px;
    background-color: white;
    padding-left: 10px;
}

body{
    background-image: linear-gradient( rgb(253,220,253), rgb(204,152,200));
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}

h1{
    font-weight: bold;
    text-align: center;
    font-family: 'Hepta Slab', serif;
}

h2{
    font-family: 'Hepta Slab', serif;
}

.search-bar {
    font-size: 20px;
    border: 2px;
    max-width: 900px;
}

#restaurant,
#concerts,
#fm-search-bar {
    font-size: 15px;
}

#submitRestaurants,
#search,
#search-meetUps,
#save-itinerary {
    font-size: 15px;
}

#itinerary-list{
    background-color: white;
    font-size: 20px;
    border: 2px black solid;
    max-width: 900px;
}

#itinerary-list p{
    padding-left: 5px;
}

.restaurantListing{
 font-size: 24px;
 padding-bottom: 5px;
}

.restaurantListBox{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 1px gray solid;
}

footer {
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:link,
a:visited {
    color: #7988B1;;
}
